.absence-page-container {
  width: 100%;
  height: 125vh;
  bottom: 0;
  background-color: gray;
}

.absence-page-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  box-shadow: 2px 5px 20px #aaaaaa;
  padding: 50px;
  width: 500px;
  margin: 0px auto;
}

select {
  width: 100%;
  height: 50px;
  font-size: 100%;
  cursor: pointer;
  border-radius: 0;
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  color: grey;
  padding: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px;
}
