.admin-page {
  width: 100%;
  height: 110vh;
  background-color: yellow;
  position: absolute;
  top: 100px;
  bottom: 0;
}

.admin-page-form-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  box-shadow: 2px 5px 20px #aaaaaa;
  padding: 50px;

  width: 500px;
  margin: 0px auto;
}

.admin-page-header {
  margin: 0;
  padding: 0;
  height: 5px;
}
